* {
  font-family:Ubuntu;
}
html,

body,
#map-soyoung {
  height: 100%; */
  max-width: 100%;
  font-family: Ubuntu;
  background-color: #F7EDD4;
  padding: 0;
  margin: 0;
}


h1 {
  font-family: Cabin Sketch;
  font-size: 35px;
  text-align: center;
}

footer{
  background: #090934;
  color: #FCBA12;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background: #090934;
  height: 50px;
  /* background: #091034; */
  border: 10px;
}

.legend {
  padding: 10px;
  font-family: Sanchez, serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 18px;
  color: #555;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.legend .low {
  color: #ec8a2e;
}

.legend .empty {
  color: #a0353a;
}

.legend .coming-soon {
  color: #f4ba48;
}

.legend .healthy {
  color: #1b904f;
}

.legend .out-of-order {
  color: #007dff;
}
