<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Test</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

    <!-- Leaflet CSS -->

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">



</head>

<body>
    <div id="oiyer"></div>
    <div id="oiyer-4"></div>
    <canvas id="oiyer-1" width="512" height="512"></canvas>
    <canvas id="oiyer-2" width="100" height="100"></canvas>
    <canvas id="oiyer-3" width="100" height="100"></canvas>


    <!-- D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.5.0/d3.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <!-- MomentJS -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

    <!-- Leaflet JavaScript -->
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js" integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q==" crossorigin=""></script>

    <!-- Icons -->
    <script src="../static/js/leaflet.extra-markers.min.js"></script>

    <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- API Key -->
    <!-- <script type="text/javascript" src="js/config.js"></script> -->

    <!-- Our JavaScript -->
    <script type="text/javascript" src="../static/js/google_data_trends.js"></script>
    <script type="text/javascript">
        $.ajax({
            url: getDataFromGoogle(),
            success: function() {
                plot_Trends_google();
            }
        })
    </script>
</body>

</html>