<form method="POST" action="/send">
 <div class="form-group">
    <label for="inputName">Name</label>
    <input type="text" id="inputName" name="name">
 </div>
 <div class="form-group">  
    <label for="inputAge">Age</label>
    <input type="text" id="inputAge" name="age">
 </div>
   <div class="form-group"> 
    <label for="inputQuestion1">Question1: Do you think we need stricter gun laws (Yes or No )?</label>
    <input type="text" id="inputQuestion1" name="question1">
 <div class="form-group">  
    <label for="inputQuestion2">Question1: Would you like to live in a world where guns did not exist?</label>
    <input type="text" id="inputQuestion2" name="question2">
 </div>
    <input type="submit" value="submit">
</form>