<!DOCTYPE html>
<html lang="en">
<head>
  <title>School Shooting Dashboard</title>
  <meta charset="UTF-8">
  <title>Time Series</title>

  <!--Bootstrap components-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

<!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>

<!-- Icons -->
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">



  <!-- CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style_soyoung.css">

  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>

</head>

<body>

  <!-- The div that holds Soyoung's map -->
  <!-- <div class="container"> -->
    <!-- <div class="row"> -->
    <div id="map-soyoung"></div>
    <!-- </div> end row -->
  <!-- </div> end Soyoung's container  -->



<!----------- SCRIPTS ----------------------------------------------------------->
  <!-- D3 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.9.2/d3.min.js"></script>

  <!-- amCharts Resources -->
  <script src="https://www.amcharts.com/lib/4/core.js"></script>
  <script src="https://www.amcharts.com/lib/4/charts.js"></script>
  <script src="https://www.amcharts.com/lib/4/maps.js"></script>
  <script src="https://www.amcharts.com/lib/4/geodata/usaLow.js"></script>
  <!-- <script src="https://www.amcharts.com/lib/4/geodata/worldLow.js"></script> -->
  <script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
  <script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


  <!-- Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- Icons -->
  <!-- <script src="static/js/leaflet.extra-markers.min.js"></script> -->

  <!-- polyfill.io is library for using newer JavaScript features in older browers (such as Object.assign) -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- API Key -->
  <!-- <script type="text/javascript" src="js/config.js"></script> -->

  <!-- Our JavaScript -->
  <!-- <script type="text/javascript" src="static/js/logic_soyoung.js"></script> -->
  <script src="{{ url_for('static', filename='js/logic_soyoung.js') }}"></script>
  

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


</body>

</html>
